@import url(../styles.css);

.main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    aspect-ratio: 4/5;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

header {
    padding: 10px;
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--border);
}

header h1 {
    font-size: 20px;
}

header p {
    font-size: 15px;
}

header div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

header div div {
    display: block;
    margin: 0px;
}

header .forget:hover {
    background-color: #ff1919;
    border-color: #800d0d;
}

header input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 20px;
    font-size: 15px;
    background-color: var(--background-input);
}

header button {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 20px;
    font-size: 15px;
    background-color: var(--background-input);
    cursor: pointer;
    transition: 0.2s ease;
}

header button:hover {
    background-color: var(--background-third);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.message {
    display: flex;
    margin-bottom: 20px;
}

.message-content {
    max-width: 65%;
    min-width: 50px;
    width: fit-content;
    word-break: break-word;
    padding: 10px 15px;
    background-color: var(--background-secondary);
    border-radius: 20px 20px 20px 5px;
    font-size: 20px;
    text-align: center;
}

.self-sender {
    margin-bottom: 10px !important;
    justify-content: flex-end;
}

.self-sender .message-content {
    color: white;
    background-color: rgb(25, 115, 255);
    margin-left: auto; /* This will push the div to the right */
    border-radius: 100px 100px 25px 100px;
}

.other-sender .message-content {
    color: var(--text);
    background-color: var(--background-third);
    border-radius: 100px 100px 100px 25px;
}

.message-form {
    padding: 10px;
    background-color: var(--background-secondary);
    border-top: 1px solid var(--border);
}

.message-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 20px;
    font-size: 15px;
    background-color: var(--background);
}
