:root {
    --text: #121212;

    --background: hsl(0, 0%, 100%);
    --background-secondary: hsl(0, 0%, 90%);
    --background-third: hsl(0, 0%, 85%);

    --background-input: hsl(0, 0%, 95%);

    --border: hsl(0, 0%, 80%);
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif;
    background: var(--background);
    color: var(--text);
}

a {
    text-decoration: underline;
    color: var(--text);
}

#root {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.small-screen {
    display: none;
}

@media only screen and (max-width: 1080px) {
    .main {
        width: 100%;
    }
}
